{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<div class="col-md-12">
                    <a
                      class="
                        btn btn-lg btn-google btn-block
                        text-uppercase
                        btn-outline
                      "
                      href="#"
                      ><img
                        src="https://img.icons8.com/color/16/000000/google-logo.png"
                      />
                      Login with Google</a
                    >
                  </div>
{% endfor %}
{% endif %}
<li>
  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
</li>
{% endfor %}